html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
  margin-top: 80px;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1150px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-color: #fff;
  position: fixed;
  z-index: 11111;
  top: 0;
  left: 0;
  width: 100%;
}

.logo {
  display: inline-block;
  vertical-align: baseline;
}
.logo-img {
  display: inline-block;
  vertical-align: middle;
}
.navbar {
  margin-right: -50px;
}
.navbar-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.navbar-link {
  font-size: 14px;
  line-height: 16px;
  color: #9597A5;
  position: relative;
  display: inline-block;
  padding: 32px 0px;
  text-decoration: none;
  transition: color 0.3s ease;
}
.navbar-link:hover {
  color: #2D314D;
}
.navbar-item + .navbar-item {
  margin-left: 30px;
}
.navbar-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  transform-origin: center;
  transform: scale(0);
  background-image: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  transition: transform 0.3s ease;
}
.navbar-link:hover::after {
  transform: scale(1);
}
.global-link {
  display: inline-block;
  vertical-align: baseline;
  padding: 8px 20px;
  background-image: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  border-radius: 22px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  opacity: 1;
  transition: opacity 0.3s ease;
  text-decoration: none;
}
.global-link:hover {
  opacity: 0.4;
}


.hero {
  padding: 170px 0;
  background-image: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
  position: relative;
  background-color: #F4F5F7;
}
.hero-left {
  width: 450px;
  margin-right: 20px;
}
.hero-title {
  font-weight: 300;
  font-size: 56px;
  line-height: 64px;
  color: #2D314D;
  margin: 0;
  margin-bottom: 24px;
}
.hero-text {
  font-size: 18px;
  line-height: 28px;
  color: #9597A5;
  margin: 0;
  margin-bottom: 36px;
}
.hero-right-img {
  position: absolute;
  right: 0;
  top: 0;
}
